# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Test results
TestResults/

# Rider
.idea/

# VS Code
.vscode/
